@import "../../styles/all.css";

.h1,
.h2,
.h3,
.h4,
.h5,
.body,
.caption {
  display: block;

  font-family: $font-family;
}

.h1 {
  font-size: $font-size-h1;
}

.h2 {
  font-size: $font-size-h2;
}

.h3 {
  font-size: $font-size-h3;
}

.h4 {
  font-size: $font-size-h4;
}

.h5 {
  font-size: $font-size-h5;
}

.body {
  font-size: $font-size-body;
}

.black {
  color: black;
}

.white {
  color: white;
}

.grey {
  color: $grey;
}

.dark-grey {
  color: $dark-grey;
}

.grey-middle-dark {
  color: $grey-middle-dark;
}

.regular {
  font-weight: $font-weight-regular;
}

.light {
  font-weight: $font-weight-light;
}

.thin {
  font-weight: $font-weight-thin;
}

.medium {
  font-weight: $font-weight-medium;
}
