.root {
  height: calc(100vh - 40px);
  padding: 20px;

  background-color: grey;
}

.container {
  height: calc(100% - 60px - 20px);
  padding: 20px 20px 60px 20px;

  background-color: white;

  border-radius: 4px;
}

.links {
  display: none;
}

.links > * + * {
  margin-top: 100px;
  margin-left: 1rem;
}
