@import "../../styles/all.css";

.root {
  position: absolute;
  top: -$spacing-20;
  left: -$spacing-20;
  z-index: 1;

  width: calc(100% + $spacing-40);
  height: calc(100% + $spacing-40);

  background-color: rgba(0, 0, 0, 0.6);

  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.3);
}

.whitecontainer {
  height: calc(100% - $spacing-40);
  margin: $spacing-20;

  background-color: white;
}

.closecontainer {
  display: flex;
  justify-content: flex-end;

  .close {
    margin-top: $spacing-12;
    margin-right: $spacing-12;

    background: white;
    color: $grey;
    cursor: pointer;
    outline: none;

    span {
      font-size: $spacing-20;
    }
  }
}

.container {
  padding: $spacing-20;

  .title {
    text-align: center;
  }

  .subtitle {
    margin-top: $spacing-8;

    text-align: center;
  }

  .macrotitle {
    margin-top: $spacing-56;
    margin-bottom: $spacing-28;

    text-align: center;
  }

  .valuescontainer {
    margin-top: $spacing-56;
  }

  .value,
  .microvalue {
    display: grid;
    grid-template-columns: 1fr 7fr;

    input {
      padding: $spacing-16;

      @include h4-font;

      border: $border-width solid $light-grey;
      color: $grey-middle-dark;
      outline: none;
    }

    .titlevalue {
      padding: $spacing-16;

      background-color: $grey-white;
      border: $border-width solid $light-grey;
    }

    .unit {
      padding: $spacing-16;

      background-color: $grey-white;
      border: $border-width solid $light-grey;
    }
  }

  .microvalue {
    grid-template-columns: 2fr 5fr 1fr;
  }

  .grid {
    display: grid;
    grid-column-gap: $spacing-40;
    grid-row-gap: $spacing-12;
    grid-template-columns: 1fr 1fr;
  }

  .row {
    display: flex;
    flex-direction: row;
    margin-top: $spacing-20;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: $spacing-84;

  .delete {
    padding: $spacing-8 $spacing-16;

    background-color: $red;
    border-radius: $spacing-4;
    cursor: pointer;
  }

  .cancel {
    padding: $spacing-8 $spacing-16;

    background-color: white;
    border: $border-width solid $light-grey;
    border-radius: $spacing-4;
    cursor: pointer;
  }

  .save {
    padding: $spacing-8 $spacing-16;
    margin-left: $spacing-8;

    background-color: $green;
    border-radius: $spacing-4;
    cursor: pointer;
  }

  .disabled {
    background-color: rgba(83, 176, 149, 0.4);
    cursor: not-allowed;
  }
}
