@import "../../styles/all.css";

.root {
}

.list {
  width: 100%;
  margin-top: $spacing-12;
}

.item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: $spacing-8;
  margin-top: $spacing-8;

  background-color: white;
  border: $border-width solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;

  .column {
    width: 15%;

    .columntitle {
    }
  }

  .name {
    width: 60%;

    text-align: left;
  }
}

.item:hover {
  border: $border-width solid $dark-green;
}

.create {
  display: flex;
  align-items: center;
  width: 100%;
  padding: $spacing-8;
  margin-top: $spacing-28;

  background-color: white;
  border: $border-width solid rgba(0, 0, 0, 0.1);

  cursor: pointer;
  outline: none;

  span {
    margin-right: $spacing-8;

    color: $grey;

    font-size: $spacing-16;
  }
}

.create:hover {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}
