.root {
}

.list {
  width: 100%;
  margin-top: 10px;
}

.item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  margin-top: 8px;

  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;

  .column {
    width: 15%;

    .columntitle {
    }
  }

  .name {
    width: 60%;

    text-align: left;
  }
}

.item:hover {
  border: 1px solid green;
}

.create {
  width: 300px;
  margin-top: 30px;
}
