@import "../../styles/all.css";

.root {
  margin-top: $spacing-20;

  form {
    display: flex;
    width: 100%;

    .search {
      width: 70%;
      padding: $spacing-8;

      border: $border-width solid rgba(0, 0, 0, 0.1);
      @include h5-font;
      color: $grey;

      outline: none;
    }

    .order {
      width: 30%;
      padding: $spacing-8;
      margin-left: $spacing-8;

      border: $border-width solid rgba(0, 0, 0, 0.1);
      color: $grey;
      outline: none;

      option {
        @include h4-font;
        color: $grey;
      }
    }
  }
}
