@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

$font-family: "Roboto", sans-serif;

$font-size-h1: 40px;
$font-size-h2: 32px;
$font-size-h3: 28px;
$font-size-h4: 20px;
$font-size-h5: 16px;
$font-size-body: 14px;
$font-size-body-small: 11px;

$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 300;
$font-weight-thin: 100;

@mixin body-font {
  font-size: $font-size-body;
}

@mixin h5-font {
  font-size: $font-size-h5;
}

@mixin h4-font {
  font-size: $font-size-h4;
}
